/*The google fonts css styles applied to web page */

body{
    font-family: 'PT Sans', sans-serif;
}
/*Update : >> Add a gradient background image - hex colors.*/

div {
    background-image: linear-gradient(#0080ff  , #ffbf00 30%);

        width: 70%;
        height: 600px;
        
        color:#080605   ;
    }

  